<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table th:each="job : ${jobs}" class="job-listing" th:fragment="job-table">

            <tr>
                <th class="dataHead">ID</th>
                <td class="dataContent" th:text="${job.Id}"></td>
            </tr>
            <tr>
                <th class="dataHead">Name</th>
                <td class="dataContent" th:text="${job.name}"></td>
            </tr>
            <tr>
                <th class="dataHead">Employer</th>
                <td class="dataContent"><a
                        th:href="'http://localhost:8080/list/jobs?column=employer&value=' + ${job.employer}"
                       th:text="${job.employer}"></a></td>
            </tr>
            <tr>
                <th class="dataHead">Location</th>
                <td class="dataContent"><a th:href="'http://localhost:8080/list/jobs?column=location&value=' + ${job.location}"
                       th:text="${job.location}"></a></td>

            </tr>
            <tr>
                <th class="dataHead">Position Type</th>
                <td class="dataContent"><a
                        th:href="'http://localhost:8080/list/jobs?column=positionType&value=' + ${job.positionType}"
                        th:text="${job.positionType}"></a></td>
            </tr>
            <tr>
                <th class="dataHead">Skill</th>
                <td class="dataContent"><a th:href="'http://localhost:8080/list/jobs?column=coreCompetency&value=' + ${job.coreCompetency}"
                       th:text="${job.coreCompetency}"></a></td>
            </tr>
        <hr/>

    </table>

</div>

</body>
</html>